<!doctype html>
<html>

<head>
    <title>Demo Page</title>
</head>

<body>
    <div class="container">
        <ul class="navbar">
            <li class="active"><a href="../index.html">Home</a></li>
            <li class="nav"><a href="/transactions">Transactions</a></li>
            <li class="nav"><a href="/books">Books</a></li>
            <li class="nav"><a href="/users">Users</a></li>
        </ul>
    </div>
    {{{body}}}
</body>

</html>