<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Admin Profile</title>
</head>
<body>
    <nav class="nav-bar">
        <p><a href="index.html" id="nav-link">Logout</a></p>
    </nav>
    <div class="wrapper">
        <h2>Admin Portal</h2>
        <a href=""><div class="admin-btn">Search loaned books</div></a>
        <a href=""><div class="admin-btn">Search for a user</div></a>
    </div>
    <div class="wrapper">
            <a href=""><div class="admin-btn">Add a book</div></a>
            <a href=""><div class="admin-btn">Remove a book</div></a>
    </div>
    <div class="objective">
        <h2>Objective:</h2>
        <a href="#">Click for hint</a>
    </div>
</body>
</html>