<html>
<body>
    <nav class="nav-bar">
        <p><a href="/logout" id="nav-link">Logout</a></p>
    </nav>
    <div class="wrapper">
        <h2>Admin Portal</h2>
        <a href="/transactions"><div class="admin-btn">Manage transactions</div></a>
        <a href="/users"><div class="admin-btn">Manage users</div></a>
    </div>
    <div class="wrapper">
            <a href="/books/add"><div class="admin-btn">Add a book</div></a>
            <a href="/books/remove"><div class="admin-btn">Remove a book</div></a>
    </div>

    <div class="objective">
        <h2>Objective: XSS - Display an alert to visitors on the search results page.</h2>
        <button class="hint-btn" onclick="openForm()">Click for hint</button>
    </div>
    <div class="popup-container">
      <div class="hint" id="hint_popup">
        <p>1. Select the "Add a Book" option</p>
        <p>2. Inject the following script to the book_title: &lt;script&gt; alert("XSS success!") &lt;/script&gt;</p>
        <p>3. Navigate to the home page and click the search button</p>
        <p>4. You should see the script execution on the search results page.</p>
        <button class="hint-btn" onclick="closeForm()">Close</button>
      </div>
    </div>
    <script>
        function openForm() {
            document.getElementById("hint_popup").style.display = "block";
        }

        function closeForm() {
            document.getElementById("hint_popup").style.display = "none";
        }
    </script>


</body>
</html>