<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Library Home Page</title>
</head>
<body>
    <nav class="nav-bar">
        <p><a href="login.html" id="nav-link">My Account</a></p>
    </nav>
    <div class="main-bar">
        <div>
            <form>
                <h1 id="search-title">Search Catalog</h1>
                <input type="text" name="request" value="" size="20" maxlength="128" placeholder="Search books here" id="search-bar">
                <input type="submit" value="search" id="search-btn">
            </form>
        </div>
    </div>
    <div class="container">
        <div id="events">
            <h2>Events</h2>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div id="hours">
            <h3>Hours</h3>
            <table id="hours-table">
                <tr>
                    <td>Monday</td>
                    <td>9:00 AM - 7:00 PM</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>9:00 AM - 7:00 PM</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>9:00 AM - 7:00 PM</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>9:00 AM - 7:00 PM</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>9:00 AM - 7:00 PM</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>9:00 AM - 8:00 PM</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>9:00 AM - 8:00 PM</td>
                </tr>   
            </table>
        </div>
    </div>
    <div class="objective">
        <h2>Objective:</h2>
        <a href="#">Click for hint</a>
    </div>
    <footer>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
    </footer>
</body>
</html>