<html>
<body>
    <nav class="nav-bar">
        <p><a href="/login" id="nav-link">My Account</a></p>
    </nav>
    <div class="main-bar">
        <div>
            <form action="/search" method="get">
                <h1 id="search-title">Search Catalog</h1>
                <input type="text" name="request" value="" size="20" maxlength="128" placeholder="Search books here" id="search-bar">
                <input type="submit" value="search" id="search-btn">
            </form>
        </div>
    </div>
    <div class="container">
        <div id="events">
            <h2>Events</h2>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div id="hours">
            <h3>Hours</h3>
            <table id="hours-table">
                <tr>
                    <td>Monday</td>
                    <td>9:00 AM - 7:00 PM</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>9:00 AM - 7:00 PM</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>9:00 AM - 7:00 PM</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>9:00 AM - 7:00 PM</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>9:00 AM - 7:00 PM</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>9:00 AM - 8:00 PM</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>9:00 AM - 8:00 PM</td>
                </tr>   
            </table>
        </div>
    </div>
    <div class="objective">
        <h2>Objective:</h2>
        <button class="hint-btn" onclick="openForm()">Click for hint</button>
    </div>
    <div class="popup-container">
      <div class="hint" id="hint_popup">
        <p>Type hints here</p>
        <button class="hint-btn" onclick="closeForm()">Close</button>
      </div>
    </div>
    <footer>
        <a href="#" >About Us</a>
        <a href="#">Contact Us</a>
    </footer>
    <script>
        function openForm() {
            document.getElementById("hint_popup").style.display = "block";
        }

        function closeForm() {
            document.getElementById("hint_popup").style.display = "none";
        }
    </script>
</body>
</html>