<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>My Account Login</title>
</head>
<body>
    <h1 id="login-title">My Account Login</h1>
    <div class="form-background">
        <form action="/login" method="POST">
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
            <button>Login</button>
        </form>
        <div class="login-links">
            <a href="">Forgot Password?</a>
        </div>
        <div class="login-links">
            <a href="register.html">Create New Account</a>
        </div>
    </div>
    <div class="objective">
        <h2>Objective:</h2>
        <a href="#">Click for hint</a>
    </div>
</body>
</html>
