<html>

<body>
    <h1 id="login-title">Create New Account</h1>
    <div class="form-background">
        <form action="/newuser" method="POST">
            <input type="text" name="createUsername" id="createUsername" placeholder="Create Username" required>
            <input type="text" name="email" id="email" placeholder="Email" required>
            <input type="text" name="createPassword" id="createPassword" placeholder="Create Password" required>
            <button>Submit</button>
        </form>
    </div>
    <div class="objective">
        <h2>Objective:</h2>
        <a href="#">Click for hint</a>
    </div>
</body>

</html>