<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Create New Account</title>
</head>
<body>
    <h1 id="login-title">Create New Account</h1>
    <div class="form-background">
        <form action="/login" method="POST">
            <input type="text" name="first-name" id="first-name" placeholder="First Name">
            <input type="text" name="last-name" id="last-name" placeholder="Last Name">
            <input type="text" name="birthdate" id="birthdate" placeholder="Birthdate">
            <input type="text" name="ssn" id="ssn" placeholder="Social Security Number">
            <input type="text" name="email" id="email" placeholder="Email">
            <input type="text" name="create-username" id="create-username" placeholder="Create Username">
            <input type="text" name="create-password" id="create-password" placeholder="Create Password">
            <button>Submit</button>
        </form>
    </div>
    <div class="objective">
        <h2>Objective:</h2>
        <a href="#">Click for hint</a>
    </div>
</body>
</html>