<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>User Profile</title>
</head>
<body>
    <nav class="nav-bar">
        <p><a href="index.html" id="nav-link">Logout</a></p>
    </nav>
    <div class="wrapper">
        <div id="user-info">
            <h3>Welcome, (Name)!</h3>
            <p><a href="">Update Profile</a></p>
        </div>
        <div id="user-books">
            <h3>Loaned Books</h3>
        </div>
    </div>
</body>
</html>